#navigation
    .nav-level-1
        > li:last-of-type
            a
                background: $color-background
                border-radius: $image-radius
                padding: $spacing-1 $spacing-2
                text-decoration: none
                @include media-breakpoint-up(lg)
                    margin-left: $spacing-3
                &:hover
                    background: $color-accent
                    color: $color-background

                @include media-breakpoint-down(lg)
                    background: $color-accent
                    color: $color-background !important
                    padding: $spacing-2 $spacing-2
                    text-align: center
                    margin-top: $spacing-3
                    margin-bottom: $spacing-3

#document-header.is-sticky
    .nav-level-1
        > li:last-of-type
            a
                background: $color-accent
                color: $color-background
.page__home
    .block-chapter:first-of-type
        padding-top: 0
    .block-persons
        margin-top: calc(-1 * #{$spacing-3}) !important
        @include media-breakpoint-up(lg)
            margin-top: space(-40) !important
.bibliography
    &__section
        .container
            .book
                border-bottom: 1px solid var(--color-border)
                display: flex
                flex-direction: column
                gap: var(--grid-gutter)
                padding-bottom: $spacing-3
                padding-top: $spacing-3
                position: relative
                .book-content
                    .book-title
                        text-decoration: none
                        @include h3
                        @include stretched-link
                .book-comment
                    @include blockquote
                    color: $color-accent
                .media
                    order: -1
                    // width: columns(6)
                    line-height: 0
                    img
                        border: 1px solid $color-border
                @include media-breakpoint-up(lg)
                    flex-direction: row
                    .book-content
                        display: flex
                        flex-direction: column
                        width: columns(6)
                    .book-comment
                        width: columns(4)
                    .media
                        width: columns(2)
    &__page
        .media
            margin-bottom: $spacing-4
        .book-comment
            color: $color-accent
            padding-bottom: $spacing-4
            @include blockquote
        .book-isbn,
        .book-website
            @include meta
        @include media-breakpoint-up(lg)
            .media
                position: absolute
                width: columns(3)
            .book-content
                padding-left: offset(4)
            .book-comment
                padding-bottom: $spacing-6
